<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Book trading club</title>

  <!-- Bootstrap -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body background="/user_background.jpg">
  <nav class="navbar navbar-default">
    <div class="container-fluid" style="background-color:#563d7c">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="#" style="color:white">Book Trading Club</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav navbar-right">
          <li>
            <div class="navbar-form navbar-left">
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="notifybtn">
                  Notifications <span class="badge">{{countReq}}</span>
                </button>
                <ul class="dropdown-menu" id="notifylist">

                </ul>
              </div>
            </div>

          </li>
          <li>
            <h3 style="color:#ffe484">Welcome, {{userName}}</h3>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>


  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4">
        <div class="btn-group btn-group-lg btn-group-vertical" role="group" aria-label="...">
          <button type="button" class="btn btn-default" id="viewbooks">View All Books</button>
          <button type="button" class="btn btn-default" id="addbooks">Add Books</button>
          <button type="button" class="btn btn-default" id="viewprofile">View Profile</button>
        </div>
      </div>

      <div id="btn-result" class="col-xs-8 col-sm-8 col-md-8">
        <div class="input-group" id="bookinput" style="display:none">
          <input type="text" class="form-control" placeholder="Book ISBN" aria-describedby="basic-addon1" id="isbn">
          <input type="text" class="form-control" placeholder="Book Title" aria-describedby="basic-addon2" id="title">
          <input type="text" class="form-control" placeholder="Author" aria-describedby="basic-addon2" id="author">
          <input type="text" class="form-control" placeholder="Price" aria-describedby="basic-addon2" id="price">
          <input type="text" class="form-control" placeholder="url" aria-describedby="basic-addon2" id="thumb">
          <button type="button" class="btn btn-default" id="add_book_detail">Add</button>
        </div>
        <div id="booksinfo" style="display:none">
          <table class="table table-bordered table-striped" id="bookTable"></table>
        </div>
        <div id="userprofile" style="display:none">
          <table class="table table-hover" id="profileTable"></table>
          <button type="button" name="updateProfile" id="profileUpdateBtn">Update</button>
        </div>
        <div id="updateform" style="display:none">
          <form action="/updateinfo" method="post">
            Name: <input type="text" name="newname" id="newname" value="{{Uname}}"><br>
            City: <input type="text" name="newcity" id="newcity" value="{{Ucity}}"><br>
            State: <input type="text" name="newstate" id="newstate" value="{{Ustate}}"><br>
            <input type="submit" name="submitbtn" value="Submit">
          </form>
        </div>
      </div>

    </div>
  </div>

  <footer>
    <p>Copyright {{currentYear}}</p>
  </footer>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <script type="text/javascript">
    $('#addbooks').on("click", function() {
      $('#booksinfo').hide();
      $('#userprofile').hide();
      $('#updateform').hide();
      $('#bookinput').show();
    });

    $('#add_book_detail').on("click", function() {
      if(document.getElementById("thumb").value=='')
      {
          document.getElementById("thumb").value='https://upload.wikimedia.org/wikipedia/en/4/45/Mac_Finder_icon_%28OS_X_Yosemite%29.png';  
      }
      $.ajax({
        type: "POST",
        url: '/addbooks',
        data: {
          isbn: $('#isbn').val(),
          title: $('#title').val(),
          author: $('#author').val(),
          price: $('#price').val(),
          thumbnail: $('#thumb').val(),
          userid: '{{userName}}'
        },
        success: function(res) {
          alert(res)
          $('#bookinput').hide()
        }
      });
    });

    $(document).ready(function() {

        $('#viewbooks').on("click", function() {
        $('#bookinput').hide();
        $('#userprofile').hide();
        $('#updateform').hide();
        $('#booksinfo').show();
        $.ajax({
          type: "GET",
          url: '/viewbooks',
          success: function(res) {
            $("#bookTable").empty()
            var data = JSON.parse(res)

            for (var i = 0; i < data.length; i++) {
              var userid = data[i].userid;
              var isbn = data[i].isbn;
              var title = data[i].title;
              var price = data[i].price;
              var author = data[i].author;
              var thumbnail = data[i].thumbnail;
              var tData = '<tr><td>' + userid + '</td><td>' + isbn + '</td><td>' + title + '</td><td>' + price + '</td><td>' + author + '</td><td><img src="'+thumbnail+'" alt="no-img" height="50" width="50"></img></td><td><button type="button" class="btn btn-default" onclick="myFunction(this)" id="' + isbn +
                '#' + userid + '">Buy</button></td></tr>'
              $("#bookTable").append(tData);
            }
          }
        });
      });
    });

    function myFunction(elem) {
      //alert(elem.id);
      $('#bookinput').hide();
      $('#booksinfo').hide();
      $('#userprofile').hide();
      var tokens = elem.id.split("#")
      $.ajax({
        type: "POST",
        url: '/buybooks',
        data: {
          isbn: tokens[0],
          clientid: '{{userName}}',
          ownerid: tokens[1]
        },
        success: function(res) {
          alert(res)
          $('#booksinfo').hide()
        }
      });
    };

    $('#viewprofile').click(function() {
      $('#bookinput').hide();
      $('#booksinfo').hide();
      $('#updateform').hide();
      $('#userprofile').show();
      $.getJSON('/viewProfile', function(data) {
        var name = data[0].name;
        var city = data[0].city;
        var state = data[0].state;
        var tableData = "<tr><td>Name</td><td>" + name + "</td></tr><tr><td>City</td><td>" + city + "</td><tr><td>State</td><td>" + state + "</td></tr>"
        document.getElementById("profileTable").innerHTML = tableData;
        console.log("in html" + name);
      })
    })

    $('#notifybtn').on("click", function() {
      $.ajax({
        type: "POST",
        url: '/getnotifications_owner',
        data: {
          userid: '{{userName}}'
        },
        success: function(res) {
          $("#notifylist").empty()
          var data = JSON.parse(res)

          for (var i = 0; i < data.length; i++) {
            var clientid = data[i].clientid;
            var isbn = data[i].isbn;

            var listData = '<li><a href="#">You have a book request for book isbn '+isbn+' from user '+clientid+'</a><div class="btn-group" role="group" aria-label="..."><button type="button" class="btn btn-default" onclick="accept(this)" id="' + isbn +
              '">Accept</button><button type="button" class="btn btn-default" onclick="reject(this)" id="' + isbn +
              '">Reject</button></div></li><li role="separator" class="divider"></li>'
            $("#notifylist").append(listData);
          }
          $.ajax({
            type: "POST",
            url: '/getnotifications_client',
            data: {
              userid: '{{userName}}'
            },
            success: function(res) {
              var data = JSON.parse(res)

              for (var i = 0; i < data.length; i++) {
                var clientid = data[i].clientid;
                var isbn = data[i].isbn;
                var ownerid = data[i].ownerid;

                var listData = '<li><a href="#">Your book request for book isbn '+isbn+' from user '+ownerid+' has been '+data[i].status+'</a><div class="btn-group" role="group" aria-label="..."><button type="button" class="btn btn-default" onclick="done(this)" id="' + isbn +
                  '">Done</button></div></li><li role="separator" class="divider"></li>'
                $("#notifylist").append(listData);
              }
            }
          });
        }
      });
    });

    $('#profileUpdateBtn').click(function(){
      $('#userprofile').hide();
      $('#bookinput').hide();
      $('#booksinfo').hide();
      $('#updateform').show();
      
      console.log("profileUpdateBtn clicked");
      $.ajax({
        type: "GET",
        url: "/fillform"
      });
    });

    function accept(elem) {
      $.ajax({
        type: "POST",
        url: '/acceptreq',
        data: {
          isbn: elem.id
        },
        success: function(res) {
          alert(res)
          location.href = "http://127.0.0.1:3000/dashboard/?userid1=" + {{userName}}
        }
      });
    };

    function reject(elem) {
      $.ajax({
        type: "POST",
        url: '/rejectreq',
        data: {
          isbn: elem.id
        },
        success: function(res) {
          alert(res)
          location.href = "http://127.0.0.1:3000/dashboard/?userid1=" + {{userName}}
        }
      });
    };

    function done(elem) {
      $.ajax({
        type: "POST",
        url: '/finalizedeal',
        data: {
          isbn: elem.id
        },
        success: function(res) {
          alert(res)
          location.href = "http://127.0.0.1:3000/dashboard/?userid1=" + {{userName}}
        }
      });
    };

  </script>
</body>

</html>
